

/*register*/
 body {
            font-family: Arial;
            background: linear-gradient(135deg, #1b5e20, #2e7d32);
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .container {
            width: 350px;
            background: #ffffff;
            padding: 25px;
            border-radius: 12px;
            box-shadow: 0 10px 25px rgba(0,0,0,0.2);
            text-align: center;
        }

        h2 {
            color: #1b5e20;
        }

        input {
            width: 100%;
            padding: 10px;
            margin: 8px 0;
            border: 1px solid #ccc;
            border-radius: 8px;
        }

        input:focus {
            border-color: #2e7d32;
            outline: none;
        }

        button {
            width: 100%;
            padding: 10px;
            background: #1b5e20;
            color: white;
            border: none;
            border-radius: 8px;
            cursor: pointer;
        }

        button:hover {
            background: #145a1a;
        }

        a {
            text-decoration: none;
            color: #2e7d32;
            font-size: 14px;
        }

        a:hover {
            text-decoration: underline;
        }

        .error {
            color: red;
        }

    /*forgot password*/
        body {
            font-family: Arial;
            background: linear-gradient(135deg, #1b5e20, #2e7d32);
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .container {
            width: 350px;
            background: #ffffff;
            padding: 25px;
            border-radius: 12px;
            box-shadow: 0 10px 25px rgba(0,0,0,0.2);
            text-align: center;
        }

        h2 {
            color: #1b5e20;
        }

        input {
            width: 100%;
            padding: 10px;
            margin: 10px 0;
            border: 1px solid #ccc;
            border-radius: 8px;
        }

        input:focus {
            border-color: #2e7d32;
            outline: none;
        }

        button {
            width: 100%;
            padding: 10px;
            background: #1b5e20;
            color: white;
            border: none;
            border-radius: 8px;
            cursor: pointer;
        }

        button:hover {
            background: #145a1a;
        }

        a {
            color: #2e7d32;
            text-decoration: none;
            font-size: 14px;
        }

        a:hover {
            text-decoration: underline;
        }

        .success {
            color: green;
        }

        /*form login*/
        body {
            font-family: Arial;
            background: linear-gradient(135deg, #1b5e20, #2e7d32);
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .container {
            width: 350px;
            background: #ffffff;
            padding: 25px;
            border-radius: 12px;
            box-shadow: 0 10px 25px rgba(0,0,0,0.2);
            text-align: center;
        }

        h2 {
            color: #1b5e20;
        }

        input {
            width: 100%;
            padding: 10px;
            margin: 8px 0;
            border: 1px solid #ccc;
            border-radius: 8px;
        }

        input:focus {
            border-color: #2e7d32;
            outline: none;
        }

        button {
            width: 100%;
            padding: 10px;
            background: #1b5e20;
            color: white;
            border: none;
            border-radius: 8px;
            cursor: pointer;
        }

        button:hover {
            background: #145a1a;
        }

        a {
            text-decoration: none;
            color: #2e7d32;
            font-size: 14px;
        }

        a:hover {
            text-decoration: underline;
        }

        .error {
            color: red;
        }

